<% title "Home" %>

<% content_for :menu do %>
  <div id="column1">
    <%= main_menu %>
  </div>
<% end %>

<% @galleries.each do |gallery| %>
  <% gallery.pictures.each do |picture| %>
    <div class="picture">
      <%= link_to(image_tag(picture.image_url(:small)), gallery_picture_path(gallery, picture), id: "picture_#{picture.id}") %>
    </div>
  <% end %>
<% end %>

