<% title "#{@gallery.name} &raquo; #{@picture.title} <span class='hint'>(#{number_to_human_size @picture.image.size })</span>" %>


<div id="picture">
  <%= image_tag @picture.image_url, :class => "left" %>
  <p class="left"><%= @picture.description %></p>
</div>

<div id="pictures">
  <% @pictures.each do |picture| %>
    <div class="picture">
      <%= link_to(image_tag(picture.image_url(:small)), gallery_picture_path(@gallery, picture), id: "picture_#{picture.id}") %>
    </div>
  <% end %>
</div>

