// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#gallery {
  h2 {
    padding-bottom:1px;
    margin-bottom: 1px;
    display: run-in;
  }

  a {
    color: #1C4FAD;
    text-decoration: underline;
  }
}

