
/* assets section */

#picture .mini-pictures img {
  border:1px solid #DDD;
  margin: 0 4px 0px 0;
  width:100px;
}

#picture .mini-mini-pictures img {
  width:70px;
}

.picture {
  padding: 5px 5px;
  float: left;
  margin-right: 6px;
  margin-bottom: 20px;

  img {
    border:4px solid #DDDDDD;
  }

  .preview {
    float:left;
  }

  .name {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
  }

  .image_placeholder {
    width: 200px;
    height: 150px;
    background-color: #B6B6B6;
  }

  .actions {
    font-size: 10px;
    text-align: center;
    color: #777;
  }
}

