/* Contains styles for common elements: forms, tables, etc */
* {
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, fieldset, address { margin:1em 0; }

body{ font-family: Arial, verdana, sans-serif;}
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

/* common classes */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}

