<% if resource.errors.any? %>
    <div id="error">
      <h2>
      <%= t("error_message_header",
            :count => resource.errors.count,
            :model => resource.class.model_name.human) %>
      </h2>

      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

